<nz-card>
  <nz-steps [nzCurrent]="currentStep()">
    <nz-step></nz-step>
    <nz-step></nz-step>
    <nz-step></nz-step>
  </nz-steps>

  <form [formGroup]="subscriptionService.esteblishmentForm" mbFormStorage="establishment-form">
    @switch (currentStep()) { @case (eSubscriptionStep.ESTABLISHMENT) {
    <v-establishment-details [(step)]="currentStep"></v-establishment-details>
    } @case (eSubscriptionStep.PLAN) {
    <v-select-plan [(step)]="currentStep"></v-select-plan>
    } @default { } }
  </form>
</nz-card>
